// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
    height: 100%;
}

footer{
    border-top: solid 1px #eaeaea;
    background-color:#f5f5fa ;

    img {
        vertical-align: top;
    }

    .footer-copyright {
        border-top: solid 1px #eaeaea;
    }

    .footer-logo {
        .title {
            display: inline-block;
        }
        h3 {
            font-family: fantasy;
            vertical-align: text-bottom;
            margin-left: 30px; font-family: fantasy;
        } 
    }
}


.register-form{
    width:50%;
    margin: 0 auto;
}

.header-avatar{
        width:50px;
        height:50px;
}

.edit-avatar{
    text-align: center;
    img{
        width:128px;
    height:128px;

    }
    
}

.status{
    margin-top: 50px;
}
.status-head{
    img{
        width:64px;
        height:64px;
    }
    margin-bottom: 16px;
  
}

 .pagination{
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 48px;
    }